# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# IntelliJ
.idea

# Dependency directory
/vendor
/composer.lock

# Unit test config
/phpunit.xml

# Docs
docs/
/sami.phar

# Build folder
build/

#unit test cache
.phpunit.result.cache